
body {
    background: linear-gradient(-45deg, #ffcdb2, #ffb4a2, #e5989b, #b5838d, #6d6875);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    text-align: center;
    font-size: 120px ;
    color: whitesmoke;
    font-family: 'Fredericka the Great';
    padding-top: 35px;
}

h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
  grid-row-gap: 80px;
  grid-column-gap: 20px;
}

.inlineflex {
  display: inline-flex;
}

.imgContainer {
  height: 360px;
  width: 300px;
  position: relative;
}

.imgCard {
  height: 360px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
}

#cardShadow {
  box-shadow:
  0 6.7px 2.9px rgba(0, 0, 0, 0.057),
  0 22.3px 9.6px rgba(0, 0, 0, 0.083),
  0 100px 43px rgba(0, 0, 0, 0.14);

}

.text-overlay-wrapper {
  height: 360px;
  width: 300px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5989b;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}  

.container:hover .overlay {
  height: 100%;
}
.text {
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}