
body {
    background-color: -webkit-linear-gradient(bottom left, #000000, #6C6878);
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Fredericka the Great', cursive;
    padding-top: 20px;
}

h3{
    text-align: center;
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    padding-top: 10px;
}
p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
/*
.box {
    width: 200px;
    height: 200px;

}
.fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  */